@model IEnumerable<WebApi.Models.Company>

@{
    ViewData["Title"] = "Index";
}

<h3>List of Companies</h3>

<p>
    <a asp-action="Create">Add New Company</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CompanyId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyType)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.CompanyId }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.CompanyId })
            </td>
        </tr>
}
    </tbody>
</table>
